.ctn-add-client{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #023047;
}
.ctn-fields-3{
    display: grid;
    padding: 1pc;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
}
.input-field{
    border: #E7E7E7 2px solid;
    padding: 5px 15px 5px 15px;
    height: 1.2pc;
    border-radius: 10px;
    color: #023047;
    font-family: 'Inria Serif', serif;
    font-family: 'Poppins', sans-serif;
}
.item-field .details{
    display: flex;
    flex-direction: column;
    width: 85%;
}
.item-field .ctn-btn-details{
    width: 10%;
    margin-left: 5px;
    display: flex;
    align-items: flex-end;
}
.ctn-btn-details .btn-details{
    background-color: #219EBC;
    color: white;
    border-radius: 10px;
    padding: 5px;
}
.ctn-fields-3 #row-item{
    display: flex;
    flex-direction: row;
}

.title-2{
    font-size: 20px;
    padding-left: 1pc;
}

.title-3{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 2px;
    margin-top: 0;
    margin-left: 15px;
}
.item-field{
    display: flex;
    flex-direction: column;
}
.add-client-title{
    padding-left: 10px;
}
#sec-detail-field{
    padding: 0px 1pc 0px 1pc;
}
#textarea-field{
    height: 7em;
    padding: 10px 15px 10px 15px;
}
.box-save-client{
    padding-left: 1pc;

}
.box-save-client #btn-save-client{
    background-color: #219EBC;
    color: white;
    border-radius: 10px;
    padding: 15px 5pc  15px 5pc;
    margin-bottom: 1pc;
    margin-top: 1pc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}
.box-succesfull-created{
    position: absolute;
    background-color: #8ecae6ad;
    padding: 1pc;
    bottom: 100px;
    right: 20px;
    border-radius: 5px;
    animation-name: move-up;
    animation-timing-function: ease-in-out;
    animation-duration: 600ms;
}
@keyframes move-up {
    0%{
        bottom: 60px;
        opacity: 0 ;
    }
    100%{
        opacity: 1;
        bottom: 100px;
    }
}
.box-succesfull-created .text-box-succesfull{
    color: #023047;
}