:root{
    --body-color : #EDF2F4;
    --primary-color : #2B2D42;
    --primary-deg : #3D405F;
    --secondary-color : #8D99AE;
    --secondary-deg : #E3EAED;
    --pbuttons-color : #EF233C;
    --sbuttons-color : #D90429;

    --text-size : 16px;

}
.ctn-clients{
    max-height: 100vh;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.table_body{
    min-width: calc(100% - 50px);
    min-height: calc(100vh - 4rem);
    padding: 20px 30px;
    background-color: var(--body-color);
}

.table-clients{
    background-color: var(--body-color);
    color: var(--primary-color);
    position: relative;
    width: 100%;
    margin-top: 0;
    border-collapse: collapse;
}
.table-clients .row{
    max-height: 80px;
    box-sizing: border-box;
}

tbody tr:nth-child(even){
    background-color: var(--secondary-deg);
}
.table-clients .title{
    font-size: 20px;
    text-align: left;
}

.table-clients tbody .column{
    font-size: var(--text-size);
    white-space: nowrap;
}
.table-clients tbody .icon{
    width: 30px;
    height: 30px;
}
.table-clients tbody .btn-action{
    background-color: var(--body-color);
}


.table-clients tbody .name{
    display: block;
    min-height: fit-content;
}
thead,  td{
    border-bottom: 1px solid var(--secondary-color);
    padding: .625rem;
    word-break: break-all;
} 
.table-clients thead th{
    position: sticky;
    padding: 0px 10px;
    top: 0;
    left: 0;
    background-color: var(--primary-deg);
    z-index: 100;
    color: var(--body-color);
}


/*====================================================*/
.nav-top{
    width: 100%;
    min-height: 4rem;
    display: flex;
    align-items: center;
    padding: 20px 35px;
    background-color: var(--body-color);
}
.nav-top .elements{
    width: calc(100% - 70px);
}
.nav-top .elements .search-user{
    float: right;
    min-width: 250px;
    background-color: var(--secondary-color);
    color: var(--body-color);
    padding: 15px 20px;
    font-size: 14px;
    border: none;
    margin-right: 20px;
    border-radius: 5px;

    box-shadow: 9px 11px 5px -8px rgba(0,0,0,0.2);
    -webkit-box-shadow: 9px 11px 5px -8px rgba(0,0,0,0.2);
    -moz-box-shadow: 9px 11px 5px -8px rgba(0,0,0,0.2);
}
.nav-top .elements .search-user::placeholder{
    color: var(--body-color);
}
.title-1{
    font-size: 24px;
    color: var(--primary-color);
    display: inline-block;
}
.button{
    float: right;
    background-color: var(--pbuttons-color);
    border-radius: 5px;
    color: var(--body-color);
    left: 20px;
}
/*================================================*/
.popup{
    position: absolute;
    top: 0;
    right: 0;
    left: 1;
    min-width: 9em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2rem   ;
    border: #D9D9D9 0.25px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 200;
    background-color: white;
    box-shadow: 10px 7px 25px -8px rgba(38,52,125,0.49);
    -webkit-box-shadow: 10px 7px 25px -8px rgba(38,52,125,0.49);
    -moz-box-shadow: 10px 7px 25px -8px rgba(38,52,125,0.49);
}
.popup .opt-popup{
    width: auto;
    min-height: 0.75rem;
    padding: 0.75rem;
    padding-right: 0;

}
.popup .opt-popup:hover{
    background-color: #D9D9D9;
    cursor: pointer;
}
.ctn-btn-popup{
    position: relative;
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar{
    height: 5px;
    width: 5px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px var(--primary-color);
}
::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px var(--primary-color);
}